@import 'mixins/global';

body{
	font-family:"amikoregular";
	font-size:13px;
	line-height:16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#App{
	text-align:center;
	position: absolute;
	left:0px;
	top:40px;
	width:100%;
	bottom: 34px;
	overflow: hidden;
	font-family:"amikoregular";
}